@import (reference) "button.less";

body {
  background-color: @white;
  color: #222;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

// Base typography.
a {
  color: @crl-blue-darken;
  text-decoration: none;
}

a:hover {
  color: @crl-blue-darken;
  text-decoration: underline;
}

a:focus {
  color: @crl-blue-darken;
  text-decoration: underline;
}

p {
  line-height: 1.6em;

  & a {
    font-weight: bold;
  }
}

h2 {
  color: @black;
  font-size: 1.25rem;
  font-weight: bold;
}

h2.pane-title {
  box-shadow: @crl-box-shadow;
  color: @white;
  font-size: 1.6em;
  font-weight: 300;
  text-transform: capitalize;
  background: #00173d;
  padding: 10px 15px;
  margin-bottom: 0;
}

input,
select {
  border-radius: 0 !important;
}

a[role="button"],
input.btn,
a.edit {
  .crl-button();
}

.btn-primary,
.clear-btn {
  color: @brand-primary;
  background-color: @white;

  &:hover {
    color: @brand-primary;
  }
}

// No colons.
span.field-colon {
  display: none;
}


label {
  color: #3c4043;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.field-name-field-facet-ref {
  margin-right: 5px;
}

.main {
  background-color: @white;
}

.container {
  @media @tablet {
    padding-right: 0;
    padding-left: 0;
  }
}

// Bootstrap 3 Borderless Table.
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

// Modifies Bootstrap 3 Striped Table.
.table-striped {
  border-left: 1px solid @border-line;
  border-right: 1px solid @border-line;
  border-bottom: 1px solid @border-line;
}

// Temporary alert notifcation.
.temporary-notification {
  background: @crl-blue-lighten;
  padding: 10px 20px;
  text-align: center;
  color: @white;

  a {
    color: @white;
    text-decoration: underline;
  }
}

// Styles for temporary about area.
.crl-borrowing,
.template-name-markdown #content {
  border: 1px solid @border-line;
  padding: 1rem 2rem;
  margin-top: 20px;

  h1 {
    font-size: 1.5rem;
  }
}

#recent-searches {
  .fa {
    display: none;
  }

  + a {
    .crl-button();

    .fa {
      display: none;
    }
  }
}


.dropdown-menu>.active>a {
  background-color: @crl-blue-lighten;

  &:hover {
    background-color: @crl-blue-lighten;
  }
}

h1 + .title-alt {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
