footer {
  width: 100%;
  color: @white;
  background-color: @brand-primary;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      a {
        color: @white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
