.page-title {
  font-size: 1.5rem;
  position: absolute;
  top: .75rem;

  @media @tablet {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 25px;
  }

  &:hover {
    text-decoration: none;
  }
}

.navbar-brand {
  margin: 25px 0 15px auto;
  padding-top: 0;
  float: right;
  height: max-content;
}

.nav-area {
  display: flex;
  flex-direction: column;
}

.navbar-brand--logo {
  display: none !important;

  @media @tablet {
    display: block !important;
    width: 300px;
    height: auto;
  }
}

.navbar-brand--logo--small {
  display: block !important;
  width: 50px;

  @media @tablet {
    display: none !important;
  }
}


.secondary-nav {
  background-color: @brand-primary;
  margin-bottom: 45px;

  ul {
    //display: flex;
    //justify-content: flex-end;
    margin-bottom: 0;
    list-style-type: none;

    li {
      padding: 0.1rem;

      a {
        color: @white;
      }
    }
  }
}

// Undo bootstrap negative margins.
.container>.navbar-header {
  margin-right: initial;
  margin-left: initial;
}


.catalog-header {
  display: none;

  @media @tablet {
    display: block;
    position: absolute;
    color: white;
    margin-top: 13px;
    margin-left: 2px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.25rem;
  }
}

.catalog-header-sm {
  display: block;
  margin-top: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.25rem;

  @media @tablet {
    display: none;
  }
}
