.record-nav {
  margin: 2rem 0 3rem;
}

.action-toolbar {
  a {
    align-items: center;
    -webkit-user-select: none;
    background: #FFF;
    border: 1px solid #dadce0;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    outline: none;
    max-width: 100%;
    transition: box-shadow 200ms cubic-bezier(0.4,0,0.2,1);
    width: fit-content;

    &::before {
      color: @crl-blue-lighten;
      font-size: .75rem;
      margin-right: 10px;
    }

    &:hover {
      color: @brand-primary;
      background: #F8F8F8;
      cursor: pointer;
    }
  }
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: @white !important;
}

// Setting this until config to remove cover is set up.
.record {
  .media-left {
    display: none;
  }
}

// Record table style.
.record {
  a {
    color: @crl-blue;
  }

  .media {
    padding-right: 0;
    padding-left: 0;
  }

  .table-main-details {
    width: initial;
    border: 1px solid #dadce0;
    border-collapse: separate;
    border-radius: 8px;
    margin-bottom: 8px;

    >tbody>tr>th {
      padding-left: 18px;
    }

    >tbody>tr>td {
      padding-right: 24px;
    }

    >tbody>tr:first-child>th,
    >tbody>tr:first-child>td {
      padding-top: 18px;
    }

    >tbody>tr:last-child>th,
    >tbody>tr:last-child>td {
      padding-bottom: 18px;
    }
  }

  .nav-tabs {
    margin: 2rem 0 1.5rem;
  }

  .nav-tabs>li>a {
    border: 0;
    color: #70757a;
    font-size: 1rem;
    font-weight: bold;

    &:hover,
    &:focus {
      color: @crl-blue-lighten;
      border: 0;
      outline: none;
      background-color: transparent;
    }
  }

  .nav-tabs>li.active>a {
    color: @crl-blue-lighten;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid @crl-blue-lighten;
  }
}
