.searchtools {
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 16px 0;

  a {
    align-items: center;
    -webkit-user-select: none;
    border: 1px solid #dadce0;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    margin-right: 10px;
    outline: none;
    padding: 5px 10px;
    max-width: 100%;
    transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
    width: fit-content;
    text-decoration: none;

    &:hover {
      background-color: @link-focus;
      text-decoration: none;
    }
  }
}
