# GNU Emacs temporary files
\#*
.\#*
*~

.php_cs_cache
.phpstan_cache
.vagrant
.vscode/*
/downloads
/Gruntfile.local.js
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit.result.cache
node_modules
public/swagger-ui

# The following are private and/or instance-specific
local/harvest/
local/config/vufind/config.ini
local/config/vufind/Folio.ini
local/httpd-vufind.conf
env.bat
import/*.tmp
.DS_Store
module/VuFind/src/VuFind/Connection/Wikipedia.UECompare.php
module/VuFind/src/VuFind/Connection/Wikipedia.NatLibAustralia.2010.php
themes/crl/js/data.json.before_iss185.json
themes/crl/js/issue_185_vufind_repo.zip
themes/crl/js/issue_185_vufind_repo.txt
themes/crl/js/data.json.before_iss185.zip
themes/crl/js/data.json.after_issue_185.select_options.html
themes/crl/js/data(0).json
themes/crl/js/data(1).json
